<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <title>Sunny</title>
</head>
<body>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="loginContainer">
                    <div class="title">
                    </div>
                    <div class="login">
                        <form role="form" method="POST" action="/login">
                            User name:
                            <br>
                            <input type="text" name="username">
                            <br>
                            <br> User password:
                            <br>
                            <input type="password" name="password">
                            <button type="submit">Submit</button>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
</body>
</html>