
body {
    background-image: url("https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: 1400px 650px;
}